.page {
  display: flex;
}

.panel {
  width: 250px;
  height: 100vh;
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.step {
  font-size: 2rem;
  border-bottom: solid black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.step:hover {
  cursor: pointer;
}

.selected {
  color: white;
  background: black;
}

.player {
  border: solid black;
  border-left: none;
  width: 50%;
  padding: 20px;
}

.maps {
  display: flex;
  width: 100%;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-end;
}

.box, .box2, .box3 {
  border: solid black;
  height: 75px;
  width: 75px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  font-size: 6rem;
  color: red;
  font-family: monospace;
}

.box2 {
  height: 100px;
  width: 100px;
  font-size: 8rem;
  color: red;
  font-family: monospace;
}

.box3 {
  height: 150px;
  width: 150px;
  font-size: 10rem;
  color: red;
  font-family: monospace;
}

.civs {
  display: flex;
}

.display {
  border-bottom: solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 25px 0; */
}

.container {
  width: 100%;
}

.flex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
  margin: 0;
}

input {
  height: 2rem;
  border: solid black;
  font-size: 1.5rem;
  text-align: center;
}

h1, h2 {
  margin: 5px;
}

p {
  margin: 0;
  font-size: 1.25rem;
}

button {
  height: 50px;
  width: 175px;
  background: black;
  font-size: 1.5rem;
  border: solid black;
  color: white;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  color: black;
  background: white;
}

.name {
  margin: 25px;
}

.middle {
  width: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  border: solid black;
}

.finished .player {
  border: solid black;
  width: auto;
  margin: 25px 15px;
}

.finished {
  margin-top: 200px;
}